*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
   height:  100vh;
    background-image: url("https://img.freepik.com/fotos-premium/um-conjunto-de-cosmeticos-para-manicure-e-pedicure-em-um-fundo-rosa-e-roxo_310443-231.jpg?w=2000");
      
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}

.container-header h1{   
    font-size: 45px;
    color: #b921e7;
    text-align: start;
    margin-top: 20px;
    margin-left: 5%;
   
}

.container-header a:hover{
    color: #800391;
    transition: 0.5s;
}

.container-header a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #800391 1px 0px 10px;
    cursor: pointer;
}


section{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 100px;
    height: 100vh;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    font-size: 20px;
    padding-left: 30px;
    
}

section img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: #000 1px 5px 10px;
}

section p{
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    font-size: 20px;
    height: 150px;
    font-size: larger;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-shadow: #800391 1px 0px 10px;
}

section button{
    width: 150px;
    height: 40px;
    background-color: #be22a4;
    color: #fff;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

section button:hover{
    background-color: #800391;
    color: #fff;
    transition: 0.5s;

}

.Formulario-Fale-conosco{
   background-color: aliceblue;
   display: flex;
   gap: 20px;
   flex-direction: column;
   position: fixed;
   left: -315px;
   top: 30%;
   padding: 18px;
   border-radius: 8px;
   transition: left 1s ease-in-out;
   
}

form button{
    width: 150px;
    height: 40px;
    background-color: #be22a4;
    color: #fff;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

input{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding-left: 10px;
    outline-color: #b921e7;
}

textarea{
    height: 100px;
    width: 250px;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    outline-color: #b921e7;
}

.mascara-formulario{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
     background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
     transition: visibility 1s ease-in-out;
}


@media(max-width: 900px){

    body{
        background: #eeaeb4;
background: radial-gradient(circle,rgba(238, 174, 180, 1) 12%, rgba(148, 187, 233, 1) 100%);
    }
    .container-header h1{
        display: none;
    }

    .container-header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        gap: 30px
    }

    .container-principal p{
        display: none;
    }
}



    

    

    
